.box{
    width: 150px;
    height: 150px;
    background-color: yellow;
}
.box1{
    width: 150px;
    height: 150px;
    background-color: rebeccapurple;
}
.box2{
    width: 150px;
    height: 150px;
    background-color: burlywood;
}
.box3{
    width: 150px;
    height: 150px;
    background-color: palevioletred;
}
